<form class="wizard-container" [formGroup]="workflowForm">
  @if (step===0) {
  <div class="wizard-step" formGroupName="workflow">
    <h3>Workflow Details</h3>
    <label>Name:</label>
    <input type="text" formControlName="name">
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
    <label>SLA Time(In Hours):</label>
    <input type="text" formControlName="sla">
    <div style="margin: 10px 0;">
      @if (workflowId) {
      <button (click)="updateWorkflow()">Update</button>
      }@else{
      <button (click)="saveWorkflow()">Save</button>
      }
    </div>
  </div>
  <div>
    @if(workflowId){
    <button (click)="addStage()">+ Add Stage</button>
    }
    <div class="mini-stages-container">
      @for (stage of stages.controls; track $index) {
      <div class="mini-stage">
        <h4>Stage {{ $index + 1 }}</h4>
        <div class="mini-stage-action">
          <button (click)="editOrAddStage($index)">Edit</button>
          <button (click)="removeStage($index)">Delete</button>
        </div>
      </div>
      }
    </div>
  </div>
  }
  @if(step===1){
  <div class="wizard-step" formArrayName="stages">
    <h3>Stages</h3>
    <div [formGroupName]="currentIndex">
      <h4>Stage {{ currentIndex + 1 }}</h4>
      <input type="text" formControlName="name" placeholder="Stage Name">
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
      <div>
        <label class="m-0">Auto Progress:</label>
        <input class="w-auto" type="checkbox" formControlName="auto_progress">
      </div>
      <label>Order Index:</label>
      <input formControlName="order_index" type="number" />

      <label>SLA Time(In Hours):</label>
      <input type="number" formControlName="sla">
    </div>
    <button (click)="addTask(currentIndex)" style="margin: 10px 0;">+ Add Task</button>
    @if(getTasks(currentIndex).controls.length >0){
    <div class="wizard-step">
      <h3>Tasks({{getTasks(currentIndex).controls.length}})</h3>
      <div [formGroup]="getStageFormGroup(currentIndex)">
        <div formArrayName="tasks">
          <div *ngFor="let task of getTasks(currentIndex).controls; let j = index" [formGroupName]="j">
            <h4>Stage {{ currentIndex + 1 }} Task {{j+1}}</h4>
            <input type="text" formControlName="name" placeholder="Task Name">
            <label>Description:</label>
            <textarea formControlName="description"></textarea>
            <label>Ai Model ID:</label>
            <input type="number" formControlName="ai_model_id" />
            <div>
              <label class="m-0">Auto Execute:</label>
              <input class="w-auto" type="checkbox" formControlName="auto_execute">
            </div>
            <label>Order Index:</label>
            <input formControlName="order_index" type="number" />

            <label>SLA Time(In Hours):</label>
            <input type="number" formControlName="sla">
            <label>Select Users:</label>
            <ng-select [items]="userList" placeholder="Select Users" bindLabel="name" bindValue="id" [multiple]="true"
              [formControl]="getUserIds(currentIndex, j)">
            </ng-select>

            <p style="color: white;">Selected User IDs: {{ getUserIds(currentIndex, j).value }}</p>
            <div class="wizard-buttons" style="gap: 10px;">
              <button (click)="removeTask(currentIndex, j)">Remove Task ({{j+1}})</button>
              <button (click)="openFormModal(j)">Create Form</button>
              @if(getObjectKeys(formJson.formFields).length > 0 && (!task.get('taskRule')?.value || task.get('taskRule')?.value.length === 0)){
              <button (click)="openRuleDialog(j)">Create Rule</button>
              }
            </div>

            @if(task.get('form')?.value?.length > 0){
            <div class="form-container">
              <h3>Form Fields</h3>
              <div class="fields-wrapper">
                <div class="field-box" *ngFor="let key of getObjectKeys(task.get('form')?.value[0])">
                  <span class="field-name">{{ task.get('form')?.value[0][key].label }}</span>
                  <button class="edit-btn" (click)="openFormModal(j)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </div>
              </div>
            </div>

            }

            @if(task.get('taskRule')?.value?.length > 0){
            <div>
              <h3>Rules</h3>
              <div class="fields-wrapper">
                @for (rule of task.get('taskRule')?.value; track $index) {
                <div>
                  {{rule.name}}
                </div>
                <div>
                  <button (click)="addCondition(currentIndex,j,rule.id)">+ Add Condition</button>
                  @if (getConditions(currentIndex,j).controls.length > 0) {
                  <div class="conditions-wrapper">
                    <div formArrayName="conditions">
                      <div class="condition-row">
                        <label>Column</label>
                        <label>Operator</label>
                        <label>Value</label>
                        <label>Action</label>
                      </div>
                      <div *ngFor="let condition of getConditions(currentIndex,j).controls; let condIndex = index"
                        [formGroupName]="condIndex" class="condition-row">
                        <input type="hidden" formControlName="rule_id">
                        <select formControlName="field" (change)="onFieldChange($event, currentIndex, j, condIndex)">
                          <option value="">Select One</option>
                          <option *ngFor="let field of getObjectKeys(formJson.formFields)"
                            [value]="formJson.formFields[field].name">{{
                            formJson.formFields[field].label }}</option>
                        </select>

                        <select formControlName="operator">
                          <option value="">Select One</option>
                          <option *ngFor="let op of operators" [value]="op">{{ op }}</option>
                        </select>

                        <input style="width: auto;" [type]="condition.value.inputType" formControlName="value"
                          placeholder="Enter value" />

                        <button class="btn-remove" (click)="removeCondition(currentIndex,j,condIndex)"><i
                            class="fa-solid fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                  }
                  @if(getConditions(currentIndex, j).controls.length > 1){
                  <div style="display: flex;flex-direction: column;margin: 8px 0;">
                    <label>Select Logical Operator</label>
                    <select class="form-control" formControlName="logical_operator" style="padding: 9px;">
                      <option value="">Select Operator</option> <!-- No default selection -->
                      <option value="&&">✅ All conditions must be met</option>
                      <option value="||">🔀 At least one condition must be met</option>
                    </select>
                    @if(task.get('logical_operator')?.invalid && task.get('logical_operator')?.touched){
                    <div>
                      <small style="color: red;">Logical Operator is required</small>
                    </div>
                    }
                  </div>
                  }

                </div>
                }


              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="wizard-buttons">
    <button (click)="prevStep()">Go Back</button>
    <button (click)="saveStagesWithTasks()">Save</button>
  </div>
  }
</form>
@if (wantToDelete) {
<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <span class="delete-icon">✔</span>
      <h2 class="dialog-heading">Delete</h2>
    </div>
    <p>Are you Sure want to delete ?</p>
    <div class="btn-container">
      <button class="no-btn" (click)="closeDeleteDialog()">No</button>
      <button class="yes-btn" (click)="removeCurrentStage()">Yes</button>
    </div>
  </div>
</div>
}
<app-form-builder [isOpen]="isFormModalOpen" [taskIndex]="formTaskIndex" (closeModal)="closeFormModal()"
  (formJsonGenerated)="onJsonGenerated($event)">
</app-form-builder>
@if(isRuleDialogOpen){
<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <h2 class="">Add Rule</h2>
    </div>
    <div>
      <input [(ngModel)]="ruleName" style="width: -webkit-fill-available; margin-bottom: 6px; color: white;" type="text"
        placeholder="Enter Rule Name">
      <textarea [(ngModel)]="ruleDescription" style="width: -webkit-fill-available; margin-bottom: 6px; color: white;"
        placeholder="Enter Rule Description" cols="3"></textarea>
    </div>
    <div class="btn-container">
      <button class="no-btn" (click)="closeRuleDialog()">Close</button>
      <button class="yes-btn" (click)="addRule()">Save</button>
    </div>
  </div>
</div>
}
@if (isOpen) {
<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <span class="success-icon">✔</span>
      <h2>Success</h2>
    </div>
    <p>{{ message }}</p>
    <button class="close-btn" (click)="closeDialog()">OK</button>
  </div>
</div>

}

@if(isloading){
<div class="loader-overlay" id="loader">
  <div class="loader"></div>
  <div>Please Wait...</div>
</div>
}
