<form class="wizard-container" [formGroup]="workflowForm">
  <div class="wizard-step" *ngIf="step === 0" formGroupName="workflow">
    <h3>Workflow Details</h3>
    <label>Name:</label>
    <input type="text" formControlName="name">
    <label>Description:</label>
    <textarea formControlName="description"></textarea>
    <label>SLA Time(In Hours):</label>
    <input type="number" formControlName="sla">
  </div>

  <div class="wizard-step" *ngIf="step === 1" formArrayName="stages">
    <h3>Stages</h3>
    <button (click)="addStage()">+ Add Stage</button>
    <div *ngFor="let stage of stages.controls; let i = index" [formGroupName]="i">
      <h4>Stage {{ i + 1 }}</h4>
      <input type="text" formControlName="name" placeholder="Stage Name">
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
      <div>
        <label class="m-0">Auto Progress:</label>
        <input class="w-auto" type="checkbox" formControlName="auto_progress">
      </div>
      <label>Order Index:</label>
      <input formControlName="order_index" type="number" />
      <label>Condition Expression:</label>
      <input type="text" formControlName="condition_expression">
      <label>SLA Time(In Hours):</label>
      <input type="number" formControlName="sla">
      <button (click)="removeStage(i)">Remove</button>
    </div>
  </div>

  <div class="wizard-step" *ngIf="step === 2">
    <h3>Tasks</h3>
    <div *ngFor="let stage of stages.controls; let i = index" [formGroup]="getStageFormGroup(i)">
      <h4>Stage {{ i + 1 }} Tasks</h4>
      <button (click)="addTask(i)">+ Add Task</button>
      <div formArrayName="tasks">
        <div *ngFor="let task of getTasks(i).controls; let j = index" [formGroupName]="j">
          <h4>Stage {{ i + 1 }} Task {{j+1}}</h4>
          <input type="text" formControlName="name" placeholder="Task Name">
          <label>Description:</label>
          <textarea formControlName="description"></textarea>
          <label>Ai Model ID:</label>
          <input type="number" formControlName="ai_model_id" />
          <div>
            <label class="m-0">Auto Execute:</label>
            <input class="w-auto" type="checkbox" formControlName="auto_execute">
          </div>
          <label>Order Index:</label>
          <input formControlName="order_index" type="number" />
          <label>Condition Expression:</label>
          <input type="text" formControlName="condition_expression">
          <label>SLA Time(In Hours):</label>
          <input type="number" formControlName="sla">
          <label>Select Users:</label>
          <ng-select [items]="userList" placeholder="Select Users" bindLabel="name" bindValue="id" [multiple]="true"
            [formControl]="getUserIds(i, j)">
          </ng-select>

          <p style="color: white;">Selected User IDs: {{ getUserIds(i, j).value }}</p>
          <button (click)="removeTask(i, j)">Remove</button>
        </div>
      </div>
    </div>
  </div>


  <div class="wizard-step" *ngIf="step === 3">
    <h3>Review & Submit</h3>
    <pre>{{ workflowForm.value | json }}</pre>
    <button (click)="submit()">Submit</button>
  </div>

  <div class="wizard-buttons">
    <button (click)="prevStep()" [disabled]="step === 0">Previous</button>
    <button (click)="nextStep()" [disabled]="step === 3">Next</button>
  </div>
</form>

@if (isOpen) {
<div class="dialog-overlay">
  <div class="dialog-container">
    <div class="dialog-header">
      <span class="success-icon">✔</span>
      <h2>Success</h2>
    </div>
    <p>{{ message }}</p>
    <button class="close-btn" (click)="closeDialog()">OK</button>
  </div>
</div>

}
